NifiFlow/CreditFraudDetectionFlow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>Nifi flow is used as part of CreditCardTransactionMonitor Demo. The flow brings data from credit card readers and customer feedback to the connected platform. Also sends account status notifications to the customer.</description><name>CreditFraudDetectionFlow</name><snippet><connections><id>82f5f0d9-362a-41ca-8b86-9fa33b667ee9</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>a0477f52-8eb0-4bb1-a65b-299303f72119</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><selectedRelationships>unmatched</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>f8ee6450-6f66-48e5-b9ce-fa5f259ade71</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>3ea12147-f0f0-4fff-9b14-c0494a70ba49</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>553fc154-a58f-4db7-bd6a-e9a78f24397c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>CustomerTransactionValidation</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>d05f648e-5f92-42d9-ba20-5d7d12051af9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>aa47c72a-39d3-4fcc-9368-1c30ecf7e5dc</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>b3387f41-934f-4470-82b9-f6c14bb33768</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>95858998-5590-434c-aa1c-d92be6b4dfe5</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1dfe0307-eeb2-4366-bbdd-92de668b96e5</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>737c6569-7659-4bd7-9e87-7bfccbef8173</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>IncomingTransaction</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>d05f648e-5f92-42d9-ba20-5d7d12051af9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>19bc8784-ef6b-47fe-be9e-bbb639649560</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>8b282bc7-b889-4403-a993-9b2a7a96ad22</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>a6a06717-a63a-43f6-8f66-061152e151f9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5648a2cb-ca26-42b0-b196-1c9633cc0ddb</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>f8ee6450-6f66-48e5-b9ce-fa5f259ade71</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>35ac5f0f-f406-44ae-8122-256cab6b079a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8017ec3b-0d78-414a-9b5a-1533dea5e70d</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>35ac5f0f-f406-44ae-8122-256cab6b079a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>8b282bc7-b889-4403-a993-9b2a7a96ad22</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>305f2e93-3065-4572-8dc7-c9ac0059bebd</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>a6a06717-a63a-43f6-8f66-061152e151f9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>d0e477bc-ea2e-4292-b7a8-581fa1c17f0e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5457837d-63ae-40f6-967a-ce36acd0f77d</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>d05f648e-5f92-42d9-ba20-5d7d12051af9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>a0477f52-8eb0-4bb1-a65b-299303f72119</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8205004b-7071-4e94-b0a8-04c5653955c6</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>f8ee6450-6f66-48e5-b9ce-fa5f259ade71</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>663d29c6-5d93-42ca-b3cd-9e9d30db2cc2</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5a424892-9c4a-4ff9-a61c-cf56f200532d</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>95858998-5590-434c-aa1c-d92be6b4dfe5</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>FraudNotification</selectedRelationships><source><groupId>d7f04106-08a3-4ecb-9e08-094eb428999b</groupId><id>d05f648e-5f92-42d9-ba20-5d7d12051af9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>a6a06717-a63a-43f6-8f66-061152e151f9</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>1050.557706258167</x><y>1114.1221456625153</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>validationField</key><value><description></description><displayName>validationField</displayName><dynamic>true</dynamic><name>validationField</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Maximum Capture Group Length</key><value>1024</value></entry><entry><key>Enable Canonical Equivalence</key><value>false</value></entry><entry><key>Enable Case-insensitive Matching</key><value>false</value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value>false</value></entry><entry><key>Enable DOTALL Mode</key><value>false</value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value>false</value></entry><entry><key>Enable Multiline Mode</key><value>false</value></entry><entry><key>Enable Unicode-aware Case Folding</key><value>false</value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value>false</value></entry><entry><key>Enable Unix Lines Mode</key><value>false</value></entry><entry><key>Include Capture Group 0</key><value>true</value></entry><entry><key>validationField</key><value>(.+),(.+),(.+),(.+)</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractResponseAttributes</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>95858998-5590-434c-aa1c-d92be6b4dfe5</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>2103.0305604607565</x><y>483.517389786581</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>mime.type</key><value><description></description><displayName>mime.type</displayName><dynamic>true</dynamic><name>mime.type</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>mime.type</key><value>application/json</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AddHttpRequestHeaders</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>a0477f52-8eb0-4bb1-a65b-299303f72119</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>1577.2581501491327</x><y>648.0300426254255</y></position><config><annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;routingTarget&lt;/attribute&gt;
            &lt;id&gt;2207475f-ec37-4978-9e00-07ac0cda55a1&lt;/id&gt;
            &lt;value&gt;IncomingTransaction&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${source:replaceAll('\[', ''):replaceAll('\]', ''):replaceAll('\&quot;', ''):isEmpty():or(${source:replaceAll('\[', ''):replaceAll('\]', ''):replaceAll('\&quot;', ''):equals('incoming_transaction')})}&lt;/expression&gt;
            &lt;id&gt;e42c79df-2ffa-4549-98ea-3b7a9d7a9c72&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;38fa9e7f-d706-4b71-9751-157052babfca&lt;/id&gt;
        &lt;name&gt;SetRouteToIncomingTransaction&lt;/name&gt;
    &lt;/rules&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;routingTarget&lt;/attribute&gt;
            &lt;id&gt;5f17dbb1-3409-4f07-a3fc-365649d91721&lt;/id&gt;
            &lt;value&gt;FraudNotification&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${source:replaceAll('\[', ''):replaceAll('\]', ''):replaceAll('\&quot;', ''):equals('analyst_action')}&lt;/expression&gt;
            &lt;id&gt;23a87961-2b2e-43a1-84a0-37909b59ab44&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;2e5c4178-e911-41e1-87ea-fffc5d58f395&lt;/id&gt;
        &lt;name&gt;SetRouteToFraudNotification&lt;/name&gt;
    &lt;/rules&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;routingTarget&lt;/attribute&gt;
            &lt;id&gt;8b2a1157-b62d-483a-986c-c2d831fa17a8&lt;/id&gt;
            &lt;value&gt;CustomerTransactionValidation&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${source:replaceAll('\[', ''):replaceAll('\]', ''):replaceAll('\&quot;', ''):equals('customer_validation')}&lt;/expression&gt;
            &lt;id&gt;477f479b-9f62-429b-875f-ad717c6e4402&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;dcc6c48e-7df6-4ea0-bbfd-584ecbb6708a&lt;/id&gt;
        &lt;name&gt;SetRouteToCustomerTransactionValidation&lt;/name&gt;
    &lt;/rules&gt;
&lt;/criteria&gt;</annotationData><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>DetermineEventDestination</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>d05f648e-5f92-42d9-ba20-5d7d12051af9</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>2103.1028733614203</x><y>647.396344869183</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CustomerTransactionValidation</key><value><description></description><displayName>CustomerTransactionValidation</displayName><dynamic>true</dynamic><name>CustomerTransactionValidation</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>FraudNotification</key><value><description></description><displayName>FraudNotification</displayName><dynamic>true</dynamic><name>FraudNotification</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>IncomingTransaction</key><value><description></description><displayName>IncomingTransaction</displayName><dynamic>true</dynamic><name>IncomingTransaction</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>CustomerTransactionValidation</key><value>${routingTarget:equals('CustomerTransactionValidation')}</value></entry><entry><key>FraudNotification</key><value>${routingTarget:equals('FraudNotification')}</value></entry><entry><key>IncomingTransaction</key><value>${routingTarget:equals('IncomingTransaction')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RoutezEventToDestination</name><relationships><autoTerminate>false</autoTerminate><description></description><name>CustomerTransactionValidation</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>FraudNotification</name></relationships><relationships><autoTerminate>false</autoTerminate><description></description><name>IncomingTransaction</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>553fc154-a58f-4db7-bd6a-e9a78f24397c</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>2100.3928720017175</x><y>948.04558430689</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known Kafka Brokers in the format &lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The Kafka Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Strategy</key><value><allowableValues><description>Messages will be assigned partitions in a round-robin fashion, sending the first message to Partition 1, the next Partition to Partition 2, and so on, wrapping as necessary.</description><displayName>Round Robin</displayName><value>Round Robin</value></allowableValues><allowableValues><description>Messages will be assigned to random partitions.</description><displayName>Random</displayName><value>Random Robin</value></allowableValues><allowableValues><description>The &lt;Partition&gt; property will be used to determine the partition. All messages within the same FlowFile will be assigned to the same partition.</description><displayName>User-Defined</displayName><value>User-Defined</value></allowableValues><defaultValue>Round Robin</defaultValue><description>Specifies how messages should be partitioned when sent to Kafka</description><displayName>Partition Strategy</displayName><dynamic>false</dynamic><name>Partition Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Partition</key><value><description>Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then all messages within the same FlowFile will use the same partition but it remains undefined which partition is used.</description><displayName>Partition</displayName><dynamic>false</dynamic><name>Partition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Kafka Key</key><value><description>The Key to use for the Message</description><displayName>Kafka Key</displayName><dynamic>false</dynamic><name>Kafka Key</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delivery Guarantee</key><value><allowableValues><description>FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss.</description><displayName>Best Effort</displayName><value>0</value></allowableValues><allowableValues><description>FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than &lt;Guarantee Replicated Delivery&gt; but can result in data loss if a Kafka node crashes</description><displayName>Guarantee Single Node Delivery</displayName><value>1</value></allowableValues><allowableValues><description>FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration</description><displayName>Guarantee Replicated Delivery</displayName><value>all</value></allowableValues><defaultValue>0</defaultValue><description>Specifies the requirement for guaranteeing that a message is sent to Kafka</description><displayName>Delivery Guarantee</displayName><dynamic>false</dynamic><name>Delivery Guarantee</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>5 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to Kafka</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Record Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum size that any individual record can be.</description><displayName>Max Record Size</displayName><dynamic>false</dynamic><name>Max Record Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Async Batch Size</key><value><defaultValue>200</defaultValue><description>The number of messages to send in one batch. The producer will wait until either this number of messages are ready to send or &quot;Queue Buffering Max Time&quot; is reached.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Async Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Queue Buffering Max Time</key><value><defaultValue>5 secs</defaultValue><description>Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.</description><displayName>Queue Buffering Max Time</displayName><dynamic>false</dynamic><name>Queue Buffering Max Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Codec</key><value><allowableValues><description>Compression will not be used for any topic.</description><displayName>None</displayName><value>none</value></allowableValues><allowableValues><description>Compress messages using GZIP</description><displayName>GZIP</displayName><value>gzip</value></allowableValues><allowableValues><description>Compress messages using Snappy</description><displayName>Snappy</displayName><value>snappy</value></allowableValues><defaultValue>none</defaultValue><description>This parameter allows you to specify the compression codec for all data generated by this producer.</description><displayName>Compression Codec</displayName><dynamic>false</dynamic><name>Compression Codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Name</key><value><defaultValue>NiFi-553fc154-a58f-4db7-bd6a-e9a78f24397c</defaultValue><description>Client Name to use when communicating with Kafka</description><displayName>Client Name</displayName><dynamic>false</dynamic><name>Client Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>sandbox.hortonworks.com:6667</value></entry><entry><key>Topic Name</key><value>CustomerTransactionValidation</value></entry><entry><key>Partition Strategy</key><value>Round Robin</value></entry><entry><key>Partition</key></entry><entry><key>Kafka Key</key></entry><entry><key>Delivery Guarantee</key><value>0</value></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key><value>5 MB</value></entry><entry><key>Max Record Size</key><value>1 MB</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry><entry><key>Async Batch Size</key><value>200</value></entry><entry><key>Queue Buffering Max Time</key><value>5 secs</value></entry><entry><key>Compression Codec</key><value>none</value></entry><entry><key>Client Name</key><value>NiFi-b22d9acc-69df-452b-9ce3-7e0be8addbc1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>QueueCustomerTransactionValidation</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be sent to Kafka will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to Kafka will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kafka.PutKafka</type></processors><processors><id>d0e477bc-ea2e-4292-b7a8-581fa1c17f0e</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>529.0000101054675</x><y>1110.9133976436578</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Queue URL</key><value><description>The URL of the queue to act upon</description><displayName>Queue URL</displayName><dynamic>false</dynamic><name>Queue URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Auto Delete Messages</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Specifies whether the messages should be automatically deleted by the processors once they have been received.</description><displayName>Auto Delete Messages</displayName><dynamic>false</dynamic><name>Auto Delete Messages</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Key</key><value><description></description><displayName>Access Key</displayName><dynamic>false</dynamic><name>Access Key</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Secret Key</key><value><description></description><displayName>Secret Key</displayName><dynamic>false</dynamic><name>Secret Key</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Credentials File</key><value><description></description><displayName>Credentials File</displayName><dynamic>false</dynamic><name>Credentials File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Region</key><value><allowableValues><description>us-gov-west-1</description><displayName>us-gov-west-1</displayName><value>us-gov-west-1</value></allowableValues><allowableValues><description>us-east-1</description><displayName>us-east-1</displayName><value>us-east-1</value></allowableValues><allowableValues><description>us-west-1</description><displayName>us-west-1</displayName><value>us-west-1</value></allowableValues><allowableValues><description>us-west-2</description><displayName>us-west-2</displayName><value>us-west-2</value></allowableValues><allowableValues><description>eu-west-1</description><displayName>eu-west-1</displayName><value>eu-west-1</value></allowableValues><allowableValues><description>eu-central-1</description><displayName>eu-central-1</displayName><value>eu-central-1</value></allowableValues><allowableValues><description>ap-southeast-1</description><displayName>ap-southeast-1</displayName><value>ap-southeast-1</value></allowableValues><allowableValues><description>ap-southeast-2</description><displayName>ap-southeast-2</displayName><value>ap-southeast-2</value></allowableValues><allowableValues><description>ap-northeast-1</description><displayName>ap-northeast-1</displayName><value>ap-northeast-1</value></allowableValues><allowableValues><description>sa-east-1</description><displayName>sa-east-1</displayName><value>sa-east-1</value></allowableValues><allowableValues><description>cn-north-1</description><displayName>cn-north-1</displayName><value>cn-north-1</value></allowableValues><defaultValue>us-west-2</defaultValue><description></description><displayName>Region</displayName><dynamic>false</dynamic><name>Region</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of messages to send in a single network request</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description></description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-COMPOUND_TEXT</displayName><value>x-COMPOUND_TEXT</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the SQS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Visibility Timeout</key><value><defaultValue>15 mins</defaultValue><description>The amount of time after a message is received but not deleted that the message is hidden from other consumers</description><displayName>Visibility Timeout</displayName><dynamic>false</dynamic><name>Visibility Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Receive Message Wait Time</key><value><defaultValue>0 sec</defaultValue><description>The maximum amount of time to wait on a long polling receive call. Setting this to a value of 1 second or greater will reduce the number of SQS requests and decrease fetch latency at the cost of a constantly active thread.</description><displayName>Receive Message Wait Time</displayName><dynamic>false</dynamic><name>Receive Message Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Queue URL</key><value>https://sqs.us-west-2.amazonaws.com/618900452667/customerValidation</value></entry><entry><key>Auto Delete Messages</key><value>true</value></entry><entry><key>Access Key</key></entry><entry><key>Secret Key</key></entry><entry><key>Credentials File</key></entry><entry><key>Region</key><value>us-west-2</value></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Visibility Timeout</key><value>15 mins</value></entry><entry><key>Receive Message Wait Time</key><value>0 sec</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ReceiveCustomerValidation</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to success after being successfully copied to Amazon S3</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.aws.sqs.GetSQS</type></processors><processors><id>f8ee6450-6f66-48e5-b9ce-fa5f259ade71</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>1051.4543952511422</x><y>646.2917047824939</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>destination</key><value><description></description><displayName>destination</displayName><dynamic>true</dynamic><name>destination</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>source</key><value><description></description><displayName>source</displayName><dynamic>true</dynamic><name>source</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>the string 'null'</value></entry><entry><key>destination</key><value>$.destination</value></entry><entry><key>source</key><value>$..source</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractEventSource</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>35ac5f0f-f406-44ae-8122-256cab6b079a</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>1051.5400591161351</x><y>809.7310373124373</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key><value>accountNumber, transactionId, fraudulent, source</value></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key><value>true</value></entry><entry><key>Null Value</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertEventToJSON</name><relationships><autoTerminate>true</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.AttributesToJSON</type></processors><processors><id>663d29c6-5d93-42ca-b3cd-9e9d30db2cc2</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>532.1280988911626</x><y>644.4990188621424</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Base Path</key><value><defaultValue>contentListener</defaultValue><description>Base path for incoming connections</description><displayName>Base Path</displayName><dynamic>false</dynamic><name>Base Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Listening Port</key><value><description>The Port to listen on for incoming connections</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Receive per Second</key><value><description>The maximum amount of data to receive per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Receive per Second</displayName><dynamic>false</dynamic><name>Max Data to Receive per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>40e87942-9924-4243-8a47-93ec945995eb</value></allowableValues><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Authorized DN Pattern</key><value><defaultValue>.*</defaultValue><description>A Regular Expression to apply against the Distinguished Name of incoming connections. If the Pattern does not match the DN, the connection will be refused.</description><displayName>Authorized DN Pattern</displayName><dynamic>false</dynamic><name>Authorized DN Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value><defaultValue>60 secs</defaultValue><description>The maximum amount of time to wait for a FlowFile to be confirmed before it is removed from the cache</description><displayName>Max Unconfirmed Flowfile Time</displayName><dynamic>false</dynamic><name>Max Unconfirmed Flowfile Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key><value><description>Specifies the Regular Expression that determines the names of HTTP Headers that should be passed along as FlowFile attributes</description><displayName>HTTP Headers to receive as Attributes (Regex)</displayName><dynamic>false</dynamic><name>HTTP Headers to receive as Attributes (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Base Path</key><value>contentListener</value></entry><entry><key>Listening Port</key><value>8082</value></entry><entry><key>Max Data to Receive per Second</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Authorized DN Pattern</key><value>.*</value></entry><entry><key>Max Unconfirmed Flowfile Time</key><value>60 secs</value></entry><entry><key>HTTP Headers to receive as Attributes (Regex)</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListenHTTP</name><relationships><autoTerminate>false</autoTerminate><description>Relationship for successfully received FlowFiles</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListenHTTP</type></processors><processors><id>8b282bc7-b889-4403-a993-9b2a7a96ad22</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>1051.348997062123</x><y>965.1254107632811</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>accountNumber</key><value><description></description><displayName>accountNumber</displayName><dynamic>true</dynamic><name>accountNumber</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>fraudulent</key><value><description></description><displayName>fraudulent</displayName><dynamic>true</dynamic><name>fraudulent</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>source</key><value><description></description><displayName>source</displayName><dynamic>true</dynamic><name>source</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>transactionId</key><value><description></description><displayName>transactionId</displayName><dynamic>true</dynamic><name>transactionId</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>accountNumber</key><value>${validationField.1}</value></entry><entry><key>fraudulent</key><value>${validationField.3}</value></entry><entry><key>source</key><value>${validationField.4}</value></entry><entry><key>transactionId</key><value>${validationField.2}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RenameAttributes</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>b3387f41-934f-4470-82b9-f6c14bb33768</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>2460.9244024353216</x><y>310.0000116529567</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to POST to. The first part of the URL must be static. However, the path of the URL may be defined using the Attribute Expression Language. For example, https://${hostname} is not valid, but https://1.1.1.1:8080/files/${nf.file.name} is valid.</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Batch Size</key><value><defaultValue>100 MB</defaultValue><description>If the Send as FlowFile property is true, specifies the max data size for a batch of FlowFiles to send in a single HTTP POST. If not specified, each FlowFile will be sent separately. If the Send as FlowFile property is false, this property is ignored</description><displayName>Max Batch Size</displayName><dynamic>false</dynamic><name>Max Batch Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Post per Second</key><value><description>The maximum amount of data to send per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Post per Second</displayName><dynamic>false</dynamic><name>Max Data to Post per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>40e87942-9924-4243-8a47-93ec945995eb</value></allowableValues><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send as FlowFile</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will package the FlowFile's contents and attributes together and send the FlowFile Package; otherwise, will send only the FlowFile's content</description><displayName>Send as FlowFile</displayName><dynamic>false</dynamic><name>Send as FlowFile</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Chunked Encoding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Specifies whether or not to use Chunked Encoding to send the data. If false, the entire content of the FlowFile will be buffered into memory.</description><displayName>Use Chunked Encoding</displayName><dynamic>false</dynamic><name>Use Chunked Encoding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Level</key><value><defaultValue>0</defaultValue><description>Determines the GZIP Compression Level to use when sending the file; the value must be in the range of 0-9. A value of 0 indicates that the file will not be GZIP'ed</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Send as HTTP Headers (Regex)</key><value><description>Specifies the Regular Expression that determines the names of FlowFile attributes that should be sent as HTTP Headers</description><displayName>Attributes to Send as HTTP Headers (Regex)</displayName><dynamic>false</dynamic><name>Attributes to Send as HTTP Headers (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://gcm-http.googleapis.com/gcm/send</value></entry><entry><key>Max Batch Size</key><value>100 MB</value></entry><entry><key>Max Data to Post per Second</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Send as FlowFile</key><value>false</value></entry><entry><key>Use Chunked Encoding</key><value>true</value></entry><entry><key>Compression Level</key><value>0</value></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>Attributes to Send as HTTP Headers (Regex)</key><value>Authorization</value></entry><entry><key>User Agent</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PostHTTP</name><relationships><autoTerminate>true</autoTerminate><description>Files that fail to send will transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that are successfully send will be transferred to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PostHTTP</type></processors><processors><id>737c6569-7659-4bd7-9e87-7bfccbef8173</id><parentGroupId>d7f04106-08a3-4ecb-9e08-094eb428999b</parentGroupId><position><x>2457.951346322296</x><y>819.9559005372511</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known Kafka Brokers in the format &lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The Kafka Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Strategy</key><value><allowableValues><description>Messages will be assigned partitions in a round-robin fashion, sending the first message to Partition 1, the next Partition to Partition 2, and so on, wrapping as necessary.</description><displayName>Round Robin</displayName><value>Round Robin</value></allowableValues><allowableValues><description>Messages will be assigned to random partitions.</description><displayName>Random</displayName><value>Random Robin</value></allowableValues><allowableValues><description>The &lt;Partition&gt; property will be used to determine the partition. All messages within the same FlowFile will be assigned to the same partition.</description><displayName>User-Defined</displayName><value>User-Defined</value></allowableValues><defaultValue>Round Robin</defaultValue><description>Specifies how messages should be partitioned when sent to Kafka</description><displayName>Partition Strategy</displayName><dynamic>false</dynamic><name>Partition Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Partition</key><value><description>Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then all messages within the same FlowFile will use the same partition but it remains undefined which partition is used.</description><displayName>Partition</displayName><dynamic>false</dynamic><name>Partition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Kafka Key</key><value><description>The Key to use for the Message</description><displayName>Kafka Key</displayName><dynamic>false</dynamic><name>Kafka Key</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delivery Guarantee</key><value><allowableValues><description>FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss.</description><displayName>Best Effort</displayName><value>0</value></allowableValues><allowableValues><description>FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than &lt;Guarantee Replicated Delivery&gt; but can result in data loss if a Kafka node crashes</description><displayName>Guarantee Single Node Delivery</displayName><value>1</value></allowableValues><allowableValues><description>FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration</description><displayName>Guarantee Replicated Delivery</displayName><value>all</value></allowableValues><defaultValue>0</defaultValue><description>Specifies the requirement for guaranteeing that a message is sent to Kafka</description><displayName>Delivery Guarantee</displayName><dynamic>false</dynamic><name>Delivery Guarantee</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>5 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to Kafka</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Record Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum size that any individual record can be.</description><displayName>Max Record Size</displayName><dynamic>false</dynamic><name>Max Record Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Async Batch Size</key><value><defaultValue>200</defaultValue><description>The number of messages to send in one batch. The producer will wait until either this number of messages are ready to send or &quot;Queue Buffering Max Time&quot; is reached.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Async Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Queue Buffering Max Time</key><value><defaultValue>5 secs</defaultValue><description>Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.</description><displayName>Queue Buffering Max Time</displayName><dynamic>false</dynamic><name>Queue Buffering Max Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Codec</key><value><allowableValues><description>Compression will not be used for any topic.</description><displayName>None</displayName><value>none</value></allowableValues><allowableValues><description>Compress messages using GZIP</description><displayName>GZIP</displayName><value>gzip</value></allowableValues><allowableValues><description>Compress messages using Snappy</description><displayName>Snappy</displayName><value>snappy</value></allowableValues><defaultValue>none</defaultValue><description>This parameter allows you to specify the compression codec for all data generated by this producer.</description><displayName>Compression Codec</displayName><dynamic>false</dynamic><name>Compression Codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Name</key><value><defaultValue>NiFi-737c6569-7659-4bd7-9e87-7bfccbef8173</defaultValue><description>Client Name to use when communicating with Kafka</description><displayName>Client Name</displayName><dynamic>false</dynamic><name>Client Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>sandbox.hortonworks.com:6667</value></entry><entry><key>Topic Name</key><value>IncomingTransactions</value></entry><entry><key>Partition Strategy</key><value>Round Robin</value></entry><entry><key>Partition</key></entry><entry><key>Kafka Key</key></entry><entry><key>Delivery Guarantee</key><value>0</value></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key><value>5 MB</value></entry><entry><key>Max Record Size</key><value>1 MB</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry><entry><key>Async Batch Size</key><value>200</value></entry><entry><key>Queue Buffering Max Time</key><value>5 secs</value></entry><entry><key>Compression Codec</key><value>none</value></entry><entry><key>Client Name</key><value>NiFi-69cf0223-59a6-4510-815f-7c3467de29d1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>QueueIncomingTransaction</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be sent to Kafka will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to Kafka will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kafka.PutKafka</type></processors></snippet><timestamp>04/09/2016 23:13:23 UTC</timestamp></template>